* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
   font-family: 'Open Sans Condensed', sans-serif;
   src: url(/fonts/OpenSansCondensed-Bold.ttf)
} 

@font-face {
   font-family: 'Montserrat', sans-serif;
   src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
   font-family: 'Open Sans', sans-serif;
   src: url(/fonts/OpenSans-Bold.ttf);
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
}

.mobile-only {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.avatarOffline {
    height: 35px;
    width: 35px;
    margin: 20px 20px 0 0;
}

.desktop-only {
   display: none;
}

@media only screen and (min-width: 768px) {

   header {
      background-color: #373737;
      color: #ffffff;
      height: 125px;
   }

   .desktop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 20px;
      height: 100%;
   }

   .menu {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;   
      justify-content: space-between;   
   }

    .menu span {
        visibility: hidden;
    }

   .sign-in {
      margin-right: 20px;
   }

   .menu {
      margin-left: 50%;
      transform: translateX(-50%);
   } 

   .menu a {
      margin: 0 20px;
   }

   a:link {
      text-decoration: none;
      color: #ffffff;
   }

   a:visited {
      color: #ffffff;
   }

   a:hover {
      color: #FFD112;
   }

   a:active {
      color: #ffffff;
   }

   .mobile-only {
      display: none;
   }

}