.discover-shows-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.show-thumbnail {
    width: 50%;
    height: 280px;
}

.show-thumbnail-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.show-thumbnail-plus {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    filter: brightness(500%);
}


@media only screen and (min-width :768px) {
    .discover-shows-list {
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 75px;
    }

    .show-thumbnail {
        width: calc(100% / 5 - 50px);
        height: 350px;
    }
}
