.discover-shows-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.show-thumbnail {
    width: 50%;
    height: 280px;
    position: relative;
}

.show-thumbnail-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media only screen and (min-width :768px) {
    .discover-shows-list {
        justify-content: space-around;
        padding-bottom: 50px;
    }

    .show-thumbnail {
        width: calc(100% / 3 - 100px);
        height: 285px;
        margin-top: 25px;
        margin-bottom: 25px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.75);
    }
}
