.footer {
    display: none;
}

@media only screen and (min-width :768px) {
    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 65px;
        bottom: 0;
    }

    .footer-align {
        display: flex;
        flex-direction: row;
    }

    .credits {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin-left: 13px;
        line-height: 2px;
        color: white;
        text-align: left;
        margin-top: 15px;
        text-shadow: 1px 1px 2px black;
        opacity: 0.4;
    }

    .credits-p2 {
        margin-top: 10px;
    }

    .panda-logo {
        margin-left: 10px;
        width: 45px;
        height: 45px;
    }

    .gitlogo {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        filter: brightness(150%);
    }

    .git-logo-align {
        margin-top: 7px;
    }
 }