.header-style {
    background-color: #373737;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    height: 65px;
}

.mobile-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    width: 85%;
    margin: auto;
}

.panda-logo-mobile {
    height: 70px;
}

.avatarOffline-style {
    display: flex;
    justify-content: flex-end;
}

.avatarOffline {
    height: 40px;
    margin: 10px 10px 0 0;
}

.desktop-only {
    display: none;
}

span {
    visibility: hidden;
}

@media only screen and (min-width: 768px) {

    .header-style {
        height: 65px;
    }

    .panda-logo {
        height: 75px;
    }

    .avatarOffline {
        height: 40px;
    }

    .mobile-only {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.1em;
        transform: translateY(-30px);
        width: 85%;
        margin: auto;
    }

    .menu a {
        margin: 0 25px 10px 25px;
    }

    a:link {
        text-decoration: none;
        color: #ffffff;
    }

    a:visited {
        color: #ffffff;
    }

    a:hover {
        color: #FFD112;
    }

    a:active {
        color: #ffffff;
    }
}