#email-logo {
    background-image: url(../icons/email-outline.png);
}

#username-logo {
    background-image: url(../icons/person-outline.png);
}

#password-logo {
    background-image: url(../icons/unlock-outline.png);
}

#confirm-password-logo {
    background-image: url(../icons/lock-outline.png);
}

@media screen and (min-width: 960px) {
}





