body, html {
    background: url(../wallpapers/show-visitor-blur.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.box-full {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.banner {
    height: 45px;
    width: 100%;
    font-size: 16px;
    background-color: #737373;
    line-height: 45px;
    padding-left: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 2px black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner h2 {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 2px black;
}

/*EPISODE*/

.next-episodes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.episode {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}

.episode h3 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px black;
    color: #ffd013;
}

.episode-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.episode-photo {
    width: 120px;
    height: 55px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.episode-text-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.episode-check {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

/*SHOW*/

.my-shows {
    display: flex;
    flex-direction: column;
}

.show-thumbnail {
    position: relative;
    height: 135px;
}

.show-thumbnail-image {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.show-thumbnail-less {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    filter: brightness(500%);
}

@media screen and (min-width: 768px) {
    .main-page {
        flex-direction: row;
        padding-bottom: 75px;
    }

    .box-full {
        margin-top: 65px;
        width: 50%;
    }

    .banner {
        width: content-box;
        background-color: transparent;
        padding-left: 0;
        box-shadow: none;
        margin-bottom: 25px;
    }

    .banner h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .next-episodes {
        margin-left: 0;
    }

    .episode h3 {
        font-size: 1.4rem;
        margin: 0;
    }

    .episode-text-title {
        font-size: 1.2rem;
    }

    .episode-photo {
        width: 180px;
        height: 90px;
    }

    .episode-details {
        justify-content: space-around;
    }

    .my-shows {
        align-items: center;
    }

    .show-thumbnail {
        margin-top: 5px;
        margin-bottom: 15px;
        width: 40%;
        height: 210px;
    }

    .show-thumbnail-less:hover,
    .episode-check:hover{
        background-color: #FFD013;
        border-radius: 15px;
        filter: none;
    }
}


