* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url(../fonts/OpenSansCondensed-Bold.ttf)
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    background: linear-gradient(20deg,#F6CA11,rgb(189, 187, 187),#737373) no-repeat center center fixed;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episode-photo {
    margin-top: 38px;
    width: 210px;
    height: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.episode-infos {
    width: 50%;
}

.episode-infos ul {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.episode-resume {
    width: 90%;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.episode-bar {
    margin-top: 20px;
    height: 1px;
    width: 200px;
    background-color:#737373;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.want-to {
    margin-top: 37px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.join-button {
    margin-top: 15px;
    height: 48px;
    width: 233px;
    text-transform: uppercase;
    background-color:#FFD112;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.8;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.return-button {
    margin-top: 100px;
    height: 48px;
    width: 233px;
    text-transform: uppercase;
    background-color:#737373;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.8;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 960px) {
    .main-page {
        display: inline-block;
        width: 100%;
    }

    .episode-photo {
        margin-top: 182px;
        width: 375px;
        height: auto;
        margin-left: 36px;
    }

    .episode-infos {
        width: 207px;
        margin-top: 20px;
        margin-left: 118px;
    }

    .episode-infos ul {
        justify-content: space-evenly;
    }

    .episode-resume {
        width: 375px;
        text-align: left;
        margin-top: 20px;
        margin-left: 36px;
    }

    .episode-bar {
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        transform: rotate(90deg);
    }

    .want-to {
        margin-top: -250px;
        margin-left: 1250px;
    }

    .join-button {
        margin-left: 1240px;
    }

    .return-button {
        display: none;
    }
}

