.connection-window {
    height: 315px;
    margin-top: 213px;
}

#email-logo {
    background-image: url(../icons/email-outline.png);
}

#password-logo {
    background-image: url(../icons/unlock-outline.png);
}

.button-sign {
    background-color: #9c7412;
    color: white;
}

@media screen and (min-width: 960px) {
    .button-sign {
        display: inherit;
    }
}



