* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url(../fonts/OpenSansCondensed-Bold.ttf)
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    background: url(../wallpapers/homepage_mobile.jpg) no-repeat center center fixed;
    background-size: cover;
}

html {
    background: url(../wallpapers/homepage_mobile.jpg) no-repeat center center fixed;
    background-size: cover;
}

.join-panda-logo {
    background-image: url(../avatars/panda.png);
    background-size: contain;
    position: absolute;
    height: 90px;
    width: 90px;
    margin-top: -50px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.join-window {
    width: 325px;
    height: 309px;
    margin-top: 213px;
    background: #545353;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.email-box {
    margin-top: 90px;
    height: 38px;
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.email-logo {
    height: 38px;
    width: 38px;
    background-image: url(../icons/email-outline.png);
    background-size: contain;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#email {
    width: 244px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}

.password-box {
    margin-top: 10px;
    height: 38px;
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.password-logo {
    height: 38px;
    width: 38px;
    background-image: url(../icons/unlock-outline.png);
    background-size: contain;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#password {
    width: 244px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}

/*---------BUTTONS-------------------*/

.buttons a div {
    margin-top: 36px;
    height: 48px;
    width: 218px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    text-shadow: 1px 1px 2px black;
    background-color:#9c7412;
    color: white;
}

a:link {
    text-decoration: none;
}

.buttons-small {
    margin-left: 10px;
    height: 25px;
    width: 70px;
    text-transform: uppercase;
    background-color:#9c7412;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.7;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
}

.join-button-small {
    margin: auto;
    color: black;
    font-size: 13px;
    text-align: center;
}


.not-yet-window {
    position: relative;
    height: 50px;
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8A8A8A;
    margin-left: auto;
    margin-right: auto;
}

.not-yet-text {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (min-width: 960px) {
    body {
        background: url(../wallpapers/Lost_wallpaper.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    html {
        background: url(../wallpapers/Lost_wallpaper.jpg) no-repeat center center fixed;
        background-size: cover;
    }
}



