<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/discover-shows.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>PandaShow - Discover Shows</title>
</head>
<body>
    <header></header>
    <div class="discover-shows-list">
        <div class="show-thumbnail">
            <a th:href="@{show-visitor}"><img class="show-thumbnail-image" src="img/BreakingBad/breaking_bad_small.jpg" alt="breaking bad thumbnail"></a>
            <a><img class="show-thumbnail-plus" src="icons/plus-circle-outline.png" alt="add show to list"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/AHS/ahs.jpg" alt="ahs thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Black-Mirror/blackmirror.png" alt="black mirror thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Feux-Amour/feux_amour_mobile.jpg" alt="the young and the restless thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/FleaBag/fleabag_mobile.jpg" alt="fleabag thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Futurama/futurama.jpg" alt="futurama thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Lost/loost.jpg" alt="lost thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Ru-Paul/ru.jpg" alt="rupaul thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Six-Feet-Under/sixfeetunder.jpg" alt="six feet under thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Supernatural/supernatural.jpg" alt="supernatural thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a th:href="@{show-visitor}"><img class="show-thumbnail-image" src="img/BreakingBad/breaking_bad_small.jpg" alt="breaking bad thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/AHS/ahs.jpg" alt="ahs thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Black-Mirror/blackmirror.png" alt="black mirror thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Feux-Amour/feux_amour_mobile.jpg" alt="the young and the restless thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/FleaBag/fleabag_mobile.jpg" alt="fleabag thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Futurama/futurama.jpg" alt="futurama thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Lost/loost.jpg" alt="lost thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Ru-Paul/ru.jpg" alt="rupaul thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Six-Feet-Under/sixfeetunder.jpg" alt="six feet under thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Supernatural/supernatural.jpg" alt="supernatural thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a th:href="@{show-visitor}"><img class="show-thumbnail-image" src="img/BreakingBad/breaking_bad_small.jpg" alt="breaking bad thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/AHS/ahs.jpg" alt="ahs thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Black-Mirror/blackmirror.png" alt="black mirror thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Feux-Amour/feux_amour_mobile.jpg" alt="the young and the restless thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/FleaBag/fleabag_mobile.jpg" alt="fleabag thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Futurama/futurama.jpg" alt="futurama thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Lost/loost.jpg" alt="lost thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Ru-Paul/ru.jpg" alt="rupaul thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Six-Feet-Under/sixfeetunder.jpg" alt="six feet under thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Supernatural/supernatural.jpg" alt="supernatural thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a th:href="@{show-visitor}"><img class="show-thumbnail-image" src="img/BreakingBad/breaking_bad_small.jpg" alt="breaking bad thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/AHS/ahs.jpg" alt="ahs thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Black-Mirror/blackmirror.png" alt="black mirror thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Feux-Amour/feux_amour_mobile.jpg" alt="the young and the restless thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/FleaBag/fleabag_mobile.jpg" alt="fleabag thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Futurama/futurama.jpg" alt="futurama thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Lost/loost.jpg" alt="lost thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Ru-Paul/ru.jpg" alt="rupaul thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Six-Feet-Under/sixfeetunder.jpg" alt="six feet under thumbnail"></a>
        </div>
        <div class="show-thumbnail">
            <a><img class="show-thumbnail-image" src="img/Supernatural/supernatural.jpg" alt="supernatural thumbnail"></a>
        </div>
    </div>
    <footer th:replace="footer.html :: footer"></footer>
</body>
</html>