@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url(/fonts/OpenSansCondensed-Bold.ttf)
 }
 @font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/fonts/Montserrat-Regular.ttf);
 }
 @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/fonts/OpenSans-Bold.ttf);
 }
 @media only screen and (max-width :768px) {
    * {
        visibility: hidden;
    }
 }
 @media only screen and (min-width :768px) {
    footer {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        background-color: #373737;
    }
    .footer-align {
        display: flex;
        flex-direction: row;
    }
    .credits {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin-left: 13px;
        line-height: 2px;
        color: white;
        text-align: left;
        padding-top: 5px;
        margin-top: 0;
    }
    .credits-p2 {
        margin-top:0;
    }
    .panda-logo {
        float: left;
        padding-top: 7px;
        padding-left: 10px;
        width: 45px;
        height: 45px;
        padding-bottom: 10px;
    }
    .gitlogo {
        display: flex;
        flex-direction: row;
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .git-logo-align {
        margin-top: 7px;
    }
 }