<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="footer.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>Titre</title>
</head>

<body>

    <footer th:fragment="footer">
        <section class="align-footer">
            <div class="footer">
                <img class="pandalogo" src="/home/wilder/Downloads/panda.png" alt="logo tête de panda">
            </div>
            <div class="truc">
                <p class="credits">©Panda Show, inc. All rights reserved.</p>
                <br>
                <p class="credits"> Hand crafted in Toulouse by NinjaTurtles</p>
            </div>
        </section>
        <section class="gitlogoalign">
            <a class="gitlogo" href="https://github.com/WildCodeSchool/sept2019-java-toulouse-pandashow"><img
                    src="/home/wilder/Downloads/github-outline.png" alt="logo de github"></a>
        </section>
    </footer>

</body>

</html>