<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/style.css">
    <title></title>
</head>
<body>
<header class="header-style" th:fragment="header">
    <div class="avatarOffline-style">
        <a href=""><img class="avatarOffline" src="../icons/person-outline.png"
                        alt="Avatar utilisateur connecté"></a>
    </div>
    <div class="desktop-only menu">
        <a>Home</a>
        <a>Discover Shows</a>
        <a href=""><img class="panda-logo-header" src="../avatars/panda.png" alt="Logo tête panda"></a>
        <a>My List</a>
        <a>About</a><span>______</span>
    </div>
    <div class="mobile-only">
        <a href=""><img class="panda-logo-mobile" src="../avatars/panda.png" alt="Logo tête panda"></a>
    </div>
</header>
</body>
</html>

