<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/style.css">
    <title></title>
</head>
<body>
<header class="header-style" th:fragment="header">
    <div class="avatarOffline-style">
        <a th:href="@{/account}"><img class="avatarOffline" src="../icons/person-outline.png"
                        alt="user connected"></a>
    </div>
    <div class="desktop-only menu">
        <a th:href="@{/index}">Home</a>
        <a th:href="@{/discover-shows}">Discover Shows</a>
        <a th:href="@{/index}"><img class="panda-logo-header" src="../avatars/panda.png" alt="panda logo"></a>
        <a th:href="@{/mylist}">My List</a>
        <a th:href="@{/about}">About</a><span class="span">______</span>
    </div>
    <div class="mobile-only">
        <a th:href="@{/index}"><img class="panda-logo-mobile" src="../avatars/panda.png" alt="panda logo"></a>
    </div>
</header>
</body>
</html>

