<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/header-index.css}">
    <title>PandaShow - Homepage</title>
    <link rel="icon" href="../avatars/panda.png" />
</head>
<body>
    <header th:replace="header.html" :: header></header>
    <div class="index">
        <div class="index-title">
            <a th:href="@{index}"><div class="panda-logo-div"><img class="panda-logo-image" src="avatars/panda.png" alt="logo panda"></div></a>
            <h1 class="title-text">PANDA SHOW</h1>
            <div class="title-bar"></div>
            <p class="title-track">Track what you're watching</p>
            <p class="title-tv">Discover new TV shows</p>
        </div>
        <div class="buttons">
            <a th:href="@{join}"><div class="button-join">JOIN THE PANDA</div></a>
            <a th:href="@{sign}"><div class="button-sign">SIGN IN</div></a>
            <a th:href="@{discover-shows}"><div class="button-discover">DISCOVER SHOWS</div></a>
        </div>
    </div>
    <footer th:replace="footer.html :: footer"></footer>
</body>
</html>