<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PANDA</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="homepage">
<div class="container">
    <div class="title-home">
        <img class="panda-logo" src="panda.png" alt="LOGO PANDA">

        <h1>PANDA SHOW</h1>
    </div>
    <hr class="index">
    <section>
        <ul>
            <li class="track">Track What Your Watching</li>
            <li class="TV">Discover next TV Shows</li>
        </ul>
    </section>

    <section class="buttons">
        <a href="#" class="button-link join-button">&nbsp;&nbsp;JOIN THE PANDA</a>
        <a href="#" class="button-link sign-button">SIGN IN</a>
        <a href="#" class="button-link discover-button">&nbsp;DISCOVER SHOWS</a>
    </section>

</div>
</body>
</html>