<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/join.css" th:href="@{css/join.css}">
    <title>PandaShow - Join The Panda</title>
</head>
<body>
    <header></header> 
    <div class="join-window">
        <div class="join-panda-logo"></div>
        <div class="email-box">
            <div class="email-logo"></div>
            <input type="text" id="email" name="email" required placeholder="&nbsp;&nbsp;&nbsp;Email">
        </div>
        <div class="username-box">
            <span class="username-logo"></span>
            <input type="text" id="username" name="username" required placeholder="&nbsp;&nbsp;&nbsp;Username">
        </div>
        <div class="password-box">
            <span class="password-logo"></span>
            <input type="text" id="password" name="password" required placeholder="&nbsp;&nbsp;&nbsp;Password">
        </div>
        <div class="confirm-password">
            <span class="confirm-password-logo"></span>
            <input type="text" id="confirm-password" name="confirm-password" required placeholder="&nbsp;&nbsp;&nbsp;Confirm Password">
        </div>
        <button class="join-button" type="button">Join The Panda</button>
    </div>
    <div class="already-window">
        <span class="already-text">Already A Panda ?</span>
        <button class="sign-button" type="button">Sign In</button>
    </div>
    <footer></footer>
</body>
</html>