<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/mylist.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <title>PandaShow - MyList</title>
    <link rel="icon" href="../avatars/panda.png" />
</head>
<body>
    <header th:replace="header.html" :: header></header>
    <div class="main-page">
        <div class="box-full">
            <div class="banner">
                <h2>MY NEXT EPISODES</h2>
            </div>
            <div th:each="nextEpisode : ${nextEpisodes}" class="next-episodes">
                <article class="episode">
                    <h3 th:text="${nextEpisode.showTitle}">Breaking Bad</h3>
                    <a><img class="episode-photo" th:src="${nextEpisode.urlImage}" th:alt="${nextEpisode.title}"></a>
                    <div class="episode-details">
                        <p th:text="|Season ${nextEpisode.seasonNumber} - Episode ${nextEpisode.number}|" class="episode-text-title">Season number</p>
                    </div>
                    <p th:text="${nextEpisode.title}" class="episode-text-title">Episode title</p>
                    <a th:href="@{/episode-seen(idEpisode=${nextEpisode.id})}"><img class="episode-check" src="../icons/checkmark-outline.png" alt="episode check"></a>
                </article>
            </div>
        </div>
        <div class="box-full">
            <div class="banner">
                <h2>MY SHOWS</h2>
            </div>
            <div class="my-shows">
                <article th:each="show : ${showList}" class="show-thumbnail">
                    <a><img class="show-thumbnail-image" th:src="${show.urlImage}" th:alt="${show.title}"></a>
                    <a th:href="@{/remove-show(idShow=${show.id})}"><img class="show-thumbnail-less" src="icons/close-circle-outline.png" alt="add show to list"></a>
                </article>
                <div class="buttons">
                    <a th:href="@{discover-shows}"><div class="button-discover">ADD NEW SHOWS</div></a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="footer.html :: footer"></footer>
</body>
</html>