<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/sign.css" th:href="@{css/sign.css}">
    <title>PandaShow - Sign In</title>
</head>
<body> 
    <header></header>
    <div class="join-window">
        <div class="join-panda-logo"></div>
        <div class="email-box">
            <div class="email-logo"></div>
            <input type="text" id="email" name="email" required placeholder="&nbsp;&nbsp;&nbsp;Email">
        </div>
        <div class="password-box">
            <span class="password-logo"></span>
            <input type="text" id="password" name="password" required placeholder="&nbsp;&nbsp;&nbsp;Password">
        </div>
        <button class="sign-button" type="button">Sign In</button>
    </div>
    <div class="not-yet-window">
        <span class="not-yet-text">Not Yet A Panda ?</span>
        <button class="join-button" type="button">Join us</button>
    </div>
    <footer></footer>
</body>
</html>